﻿@using UPC.APP.SOL.WEB
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title - APP Solidaridad</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Content/bootstrap")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/bundles/general")

</head>
<body>

    <!--/.nav-collapse -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
                <ul class="nav navbar-nav">
                    <li><a href="/Home/Index">Inicio</a></li>
                    <li><a href="/Home/About">Quienes Somos</a></li>
                    <li><a href="/Home/Contact">Contactanos</a></li>
                    @{
                        if (Session["Usuario"] != null)
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administración <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/Entidad">Entidades</a></li>
                                    <li><a href="/Categoria">Categorias</a></li>
                                    <li><a href="/Reporte">Reporte</a></li>
                                </ul>
                            </li>
                        }

                    }

                </ul>

                @{
                    if (Session["Usuario"] == null)
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/Home/Login">Iniciar Sesion</a></li>
                        </ul>
                    }
                    else
                    {
                        <ul class="nav navbar-nav navbar-right">
                                @{
                                 t_usuario tUsu = (t_usuario)Session["Usuario"];
                                 @Html.Raw("<li><a>" + tUsu.usuario_nombres + " " + tUsu.usuario_apellidos + "</a></li>")
                                }
                            <li><a href="/Home/CerrarSesion">Cerrar Sesion</a></li>
                        </ul>
                    }

                }

            </div>
        </div>
    </nav>
    <!--/.nav-collapse -->

    <br />
    <br />
    <br />
    <form id="form1">
        <!-- /.container -->
        <div class="container">

            @RenderBody()


        </div>
        <!-- /.container -->
    </form>




    @RenderSection("featured", required: false)
    @RenderSection("Scripts", required: false)
    <link href="~/Content/sticky/sticky.css" rel="stylesheet" />
    <script src="~/Content/sticky/sticky.js"></script>
</body>
</html>
