/* Reset ================================================================================= */
* {
    margin: 0;
    padding: 0;
}

body {
    font: 12px/1.55 Tahoma, helvetica, sans-serif;
    font-family: Arial, Tahoma, sans-serif;
    text-align: left;
    background-color: white;
}

a {
    color: #353535;
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }

:focus {
    outline: 0;
}

/* Headings */
h1 {
    font-size: 3em;
    font-weight: normal;
    line-height: 1.15;
    font-weight: normal;
}

h2 {
    font-size: 2.0em;
    line-height: 1.25;
    margin-bottom: .45em;
    font-weight: normal;
}

h3 {
    font-size: 1.7em;
    line-height: 1.25;
    margin-bottom: .45em;
    font-weight: normal;
}

h4 {
    font-size: 1.4em;
    line-height: 1.35;
    margin-bottom: .45em;
    font-weight: normal;
}

h5 {
    font-size: 1.15em;
    line-height: 1.35;
    margin-bottom: .45em;
    font-weight: normal;
}

h6 {
    font-size: 1.05em;
    line-height: 1.35;
    margin-bottom: 1em;
    font-weight: normal;
    background-position:;
}

/* Forms */
form {
    display: inline;
}

fieldset {
    border: 0;
}

legend {
    display: none;
}

/* Table */
table {
    border: 0; /*border-collapse:collapse;*/
    border-spacing: 0;
    empty-cells: show;
    font-size: 100%;
}

caption, th, td {
    vertical-align: top;
    text-align: left;
    font-weight: normal;
}

/* Content */
p {
    margin: 0 0 1em;
}

strong {
    font-weight: bold;
}

address {
    font-style: normal;
}

cite {
    font-style: normal;
}

q,
blockquote {
    quotes: none;
}

    q:before,
    q:after {
        content: '';
    }

small {
    font-size: 1em;
}

big {
    font-size: 1.15em;
}
/*sup           { font-size:1em; vertical-align:top; }*/

/* Lists */
ul, ol {
    list-style: none;
}

#product_tabs_description_contents ul, #product_tabs_description_contents ol {
    list-style: disc;
    margin-left: 20px;
}
/* Tools */
.hidden {
    display: block !important;
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 0 !important;
    line-height: 0 !important;
    width: 0 !important;
    height: 0 !important;
    overflow: hidden !important;
}

.nobr {
    white-space: nowrap !important;
}

.wrap {
    white-space: normal !important;
}

.a-left {
    text-align: left !important;
}

.a-center {
    text-align: center !important;
}

.a-right {
    text-align: right !important;
}

.v-top {
    vertical-align: top;
}

.v-middle {
    vertical-align: middle;
}

.f-left,
.left {
    float: left !important;
}

.f-right,
.right {
    float: right !important;
}

.f-none {
    float: none !important;
}

.f-fix {
    float: left;
    width: 100%;
}

.no-display {
    display: none;
}

.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.no-bg {
    background: none !important;
}

.clear {
    clear: both!important;
}

/* Layout ================================================================================ */
.wrapper {
    border-top: 4px solid #090909;
}

.page {
    /*MARTEL*/
    width: 960px;
    margin: 0 auto;
    text-align: left;
}


.page-print {
    background: #fff;
    padding: 25px 30px;
    text-align: left;
}

.page-empty {
    padding: 20px;
    text-align: left;
}

.page-popup {
    background: #fff;
    padding: 25px 30px;
    text-align: left;
}

.main-container {
}

.main {
    min-height: 350px;
    margin: 0 0 30px 0;
     font-family: arial;
        font-size: 11px;
}

    .main input {

        
 font-family: arial;
        font-size: 12px;
}
/* Global Styles ========================================================================= */
/* Form Elements */


select {
    font: 12px Arial, Helvetica, sans-serif;
    vertical-align: middle;
}


textarea {
    overflow: auto;
}



button.button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
/* FF Fix */
button.button {
    -webkit-border-fit: lines;
}
/* <- Safari & Google Chrome Fix */
button.button {
    overflow: visible;
    width: auto;
    height: 27px;
    padding: 0 17px;
    background: #818181;
    white-space: nowrap;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font: normal 11px Tahoma, Verdana, Arial, sans-serif;
    border: 1px solid #909090;
    margin: 0;
    cursor: pointer;
}

    button.button span {
        white-space: nowrap;
        margin: -1px -3px;
    }

    button.button:hover {
        background: #090909;
        border: 1px solid #434343;
    }

button.disabled span {
    color: #bbb !important;
}

button.button.btn-cart {
    background: #818181;
    border-color: #909090;
}

    button.button.btn-cart:hover {
        background: #090909!important;
        border-color: #909090;
    }

/*button.btn-cart span {}*/
button.btn-checkout span {
    font: bold 12px Arial, Helvetica, sans-serif;
    color: #fff;
}

button.btn-checkout {
    background: #090909;
    padding: 0 40px 0;
}

    button.btn-checkout:hover {
        background: #818181;
    }

    button.btn-checkout.no-checkout span {
        background-position: 0 100%;
        color: #cfcfcf;
    }

        button.btn-checkout.no-checkout span span {
            background-position: 100% 100%;
        }


/* Shopping cart tax info */
.cart-tax-info {
    display: block;
}

    .cart-tax-info,
    .cart-tax-info .cart-price {
        padding-right: 20px;
    }

.cart-tax-total {
    display: block;
    padding-right: 20px;
    background: url(../images/bkg_collapse.gif) 100% 4px no-repeat;
    cursor: pointer;
}

    .cart-tax-info .price,
    .cart-tax-total .price {
        display: inline !important;
        font-weight: normal !important;
    }

.cart-tax-total-expanded {
    background-position: 100% -53px;
}




/* Header ================================================================================ */
.logo {
    float: left;
}

.header-container {
    margin: 0 0 12px;
}

.header {
    margin: 0 0 20px;
}

    .header .welcome-msg {
        float: right;
        margin: 5px 0 0;
    }

    .header .header-banner {
        margin: 21px 0 0;
        float: left;
    }

    .header .header-right {
        float: right;
        width: 365px;
    }

    .header .header-left {
        float: left;
        margin: 4px 0 0;
        width: 300px;
    }

        .header .header-left .form-language {
        }

        .header .header-left .lang {
            color: #090909;
            float: left;
        }

            .header .header-left .lang a {
                color: #666669;
            }

    .header .header-center {
        float: left;
        width: 271px;
        margin: 46px 0 0 22px;
    }

    .header .header-right .links {
        margin: 3px 0 0 0;
    }

    .header .header-right .currency {
        float: right;
        padding: 4px 0;
    }

    .header .minicart {
        float: right;
    }

    .header .logo {
        float: left;
        text-decoration: none !important;
    }

        .header .logo strong {
            position: absolute;
            top: -999em;
            left: -999em;
            width: 0;
            height: 0;
            font-size: 0;
            line-height: 0;
            text-indent: -999em;
            overflow: hidden;
        }

    .header #search_autocomplete {
        margin: 15px 0 0 0;
    }

    .header .top-promo {
        float: left;
        width: 117px;
        height: 30px;
        margin: 12px 10px 0;
        background: url(../images/bkg_top-promo.gif) 0 0 no-repeat;
        text-indent: -999em;
        overflow: hidden;
    }

.currency-code {
    display: block;
    float: left;
    background-position: top center;
    width: 14px;
    height: 16px;
    margin: 0 5px;
    text-indent: -9999px;
}

.top-bar {
    float: left;
    margin: 1px 0 0;
}

.form-search {
}

    .form-search label {
        float: left;
        font-size: 12px;
        font-weight: bold;
        padding: 0 5px 0 0;
    }

    .form-search input.input-text {
        float: left;
        width: 150px;
        border-right: 0;
        padding: 5px;
        height:13px;
    }
      .form-search  input,  textarea {
    font: 12px Arial, Helvetica, sans-serif;
    vertical-align: middle;
    padding:0;
    /*color: #818181;*/
}

    .form-search button.button {
        float: left;
        height: 27px;
        width: 60px;
        border: none;
        line-height: 21px;
        padding: 2px 15px;
    }

        .form-search button.button:hover {
            border: none;
        }

    .form-search .search-autocomplete {
        z-index: 999;
    }

        .form-search .search-autocomplete ul {
            border: 1px solid #999;
            background-color: #f9f5f0;
        }

        .form-search .search-autocomplete li {
            text-align: left;
            border-bottom: 1px solid #f4eee7;
            padding: 2px 8px 1px 8px;
            cursor: pointer;
        }

            .form-search .search-autocomplete li .amount {
                float: right;
                font-weight: bold;
            }

            .form-search .search-autocomplete li.odd {
                background-color: #f6f6f6;
            }

            .form-search .search-autocomplete li.selected {
                background-color: #ecf9ea;
            }

.header-container .top-container {
    padding: 5px 12px;
    background: #fff;
    border: 1px solid #bbb;
    border-width: 0 1px 1px;
    text-align: right;
}

/* Block: Cart */
.block-cart .block-title {
    background: #679100;
}

    .block-cart .block-title strong {
        color: #fff;
    }

.block-cart .summary {
    background: #e5eed6;
    padding: 8px;
    margin: -12px -10px 8px;
    text-align: center;
    position: relative;
    z-index: 1;
}

.block-cart .amount {
    margin: 0;
}

    .block-cart .amount a {
        font-weight: bold;
    }

.block-cart .subtotal {
    background: url(../images/bkg_subtotal.gif) no-repeat 50% 0;
    margin: 5px 0 0;
    line-height: 23px;
}

    .block-cart .subtotal .price {
        font-weight: bold;
    }

.block-cart .actions {
    display: none !important;
}

    .block-cart .actions .paypal-logo {
        float: left;
        width: 100%;
        margin: 3px 0 0;
        text-align: right;
    }

/* Block: Cart */
.block-cart .block-title {
    background: #a40d06;
}

    .block-cart .block-title strong {
        color: #fff;
    }

.block-cart .summary {
    background: #e5eed6;
    padding: 8px;
    margin: -12px -10px 8px;
    text-align: center;
    position: relative;
    z-index: 1;
}

.block-cart .amount {
    margin: 0;
}

    .block-cart .amount a {
        font-weight: bold;
    }

.block-cart .subtotal {
    background: url(../images/bkg_subtotal.gif) no-repeat 50% 0;
    margin: 5px 0 0;
    line-height: 23px;
}

    .block-cart .subtotal .price {
        font-weight: bold;
    }

.block-cart .actions {
    display: none !important;
}

    .block-cart .actions .paypal-logo {
        float: left;
        width: 100%;
        margin: 3px 0 0;
        text-align: right;
    }

/* Block: Cart-Header */
.block-cart-header {
    padding: 0 0 0 5px;
    border: none;
    position: relative;
    margin: 0;
    background: none;
}

    .block-cart-header .block-content {
        background: none;
        padding: 0;
    }

    .block-cart-header .block-title strong {
        color: #fff;
    }

    .block-cart-header .block-subtitle {
        border-bottom: none;
    }

        .block-cart-header .block-subtitle span {
            display: block;
        }

        .block-cart-header .block-subtitle a {
            display: block;
            float: right;
            text-transform: lowercase;
            font-size: 11px;
        }

    .block-cart-header .summary {
        background: #373737;
        font-size: 14px;
        margin: 5px 0;
        padding: 5px;
        text-transform: uppercase;
        text-align: right;
        clear: both;
        z-index: 1;
    }

    .block-cart-header .amount {
        margin: 0;
    }

    .block-cart-header .empty {
        text-align: center;
    }

    .block-cart-header .amount a {
        font-weight: bold;
    }

    .block-cart-header .block-content li.item {
        border-bottom: 1px solid #d7c7b6;
    }

    .block-cart-header .subtotal {
        background: url(../images/bkg_subtotal.gif) no-repeat 50% 0;
        margin: 5px 0 0;
        line-height: 23px;
    }

        .block-cart-header .subtotal .price {
            font-weight: bold;
        }

    .block-cart-header .actions {
        display: none !important;
    }

        .block-cart-header .actions .paypal-logo {
            float: left;
            width: 100%;
            margin: 3px 0 0;
            text-align: right;
        }
/*.block-cart-header .block-content:hover #header-items, .block-cart-header .block-content #header-items:hover { display:block; }*/

.block-content:hover #header-items, #header-items:hover {
    display: block;
}

.block-cart-header #header-items {
    right: 0;
    background: #090909;
    padding: 5px;
    top: 25px;
    z-index: 1400;
    width: 300px;
    color: white;
    position: absolute;
    display: none;
}

    .block-cart-header #header-items.empty {
        padding: 16px 5px;
    }

    .block-cart-header #header-items a {
        color: white;
    }

    .block-cart-header #header-items li.item {
        background: #373737;
        padding: 5px;
        border: none;
    }

.block-cart-header .button-show {
    position: relative;
    background: #090909;
    font-size: 12px;
    color: #fff;
    float: right;
    padding: 5px 34px 5px 10px;
}

    .block-cart-header .button-show a {
        color: #fff;
    }

.block-cart-header .btn-view {
    float: left;
    padding: 0 47px;
}

.block-cart-header .btn-checkout {
    float: right;
    padding: 0 47px;
    background: #818181;
}

    .block-cart-header .btn-checkout:hover {
        background: #090909;
    }

    .block-cart-header .btn-checkout span {
        font-weight: normal;
        font-size: 11px;
    }

/* Paypal */
.sidebar .paypal-logo {
    display: block;
    margin: 10px 0;
    text-align: center;
}

    .sidebar .paypal-logo a {
        float: none;
    }
/* ======================================================================================= */


/* Footer ================================================================================ */
.footer-social-container {
    width: 100%;
    background: #303030;
}

.footer-social {
    width: 960px;
    padding: 2px 0;
    margin: 0 auto;
}

.footer-container {
    width: 100%;
    text-align: left;
    background: #090909;
    color: #fff;
}

.footer {
    margin: 0 auto 0;
    padding: 15px 0;
    width: 960px;
}

.aditional-footer {
    margin: 0 auto 0;
    padding: 30px 0 30px;
    width: 960px;
}

.footer .links li {
    text-transform: none;
}

.footer-container a {
    color: #666669;
}

.footer-container .footer-right {
    width: 250px;
}

.footer .f-left {
    width: 520px;
    text-align: left;
}

.footer .f-right {
    width: 429px;
    text-align: right;
}

.footer ul {
    display: inline;
}

.footer li {
    display: inline;
    background: url(../images/bkg_pipe1.gif) 100% 50% no-repeat;
    padding: 0 5px 0 0;
    margin: 0 3px 0 0;
}

.footer .links li.last {
    background: none !important;
    padding-right: 0 !important;
}

.footer .bugs {
    margin: 0;
    color: #666;
}

    .footer .bugs a {
        font-weight: bold;
        color: #353535;
    }

.footer address {
    color: #666;
}

    .footer address a {
        color: #353535;
    }

.policy li {
    margin-left: 2px;
    padding-left: 10px;
    background: url(../images/footer_li.png) no-repeat left center;
}

.footer-container .form-subscribe {
}

    .footer-container .form-subscribe label {
        padding-top: 2px;
        font-weight: bold;
        color: #555;
    }

    .footer-container .form-subscribe .input-box {
        width: 181px;
        float: left;
    }

    .footer-container .form-subscribe button.button {
        float: left;
    }

        .footer-container .form-subscribe button.button span {
            height: 25px;
            font: normal 11px/25px Tahoma, Verdana, Arial, sans-serif;
        }

    .footer-container .form-subscribe input.input-text {
        width: 170px;
        border-right: none;
        padding: 5px;
    }

.footer-container .footer-callout {
    display: block;
    margin: -10px 0 10px;
    position: relative;
}

.footer-container .store-switcher {
    color: #555;
    text-align: right;
}

    .footer-container .store-switcher label {
        font-weight: bold;
        vertical-align: middle;
    }

    .footer-container .store-switcher select {
        padding: 0;
        vertical-align: middle;
    }

.footer-container .bottom-container {
    margin: 0 0 8px;
    text-align: right;
}
    /* ======================================================================================= */
    /* Clears ================================================================================ */
    .clearer:after,
    .header-container:after,
    .header-container .top-container:after,
    .header:after,
    .top-bar:after,
    .quick-access:after,
    .form-search:after,
    #nav:after,
    .main:after,
    .footer:after,
    .footer .form-subscribe:after,
    .footer-container .bottom-container:after,
    .col-main:after,
    .col2-set:after,
    .col3-set:after,
    .col4-set:after,
    .search-autocomplete li:after,
    .block .block-content:after,
    .block .actions:after,
    .block li.item:after,
    .block-poll li:after,
    .block-layered-nav .currently li:after,
    .page-title:after,
    .products-grid:after,
    .products-list li.item:after,
    .box-account .box-head:after,
    .dashboard .box .box-title:after,
    .order-info ul:after,
    .box-reviews li.item:after,
    .box-tags li.item:after,
    .pager:after,
    .sorter:after,
    .ratings:after,
    .add-to-box:after,
    .add-to-cart:after,
    .product-essential:after,
    .product-collateral:after,
    .product-tabs:after,
    .product-view .product-img-box .more-views ul:after,
    .product-view .box-tags .form-add:after,
    .product-view .product-shop .short-description:after,
    .product-view .box-description:after,
    .product-options .options-list li:after,
    .product-options-bottom:after,
    .product-review:after,
    .cart:after,
    .cart-collaterals:after,
    .cart .crosssell li.item:after,
    .opc .step-title:after,
    .checkout-progress:after,
    .multiple-checkout .place-order:after,
    .group-select li:after,
    .form-list li:after,
    .form-list .field:after,
    .buttons-set:after,
    .page-print .print-head:after,
    .advanced-search-summary:after,
    .gift-messages-form .item:after,
    .send-friend .form-list li p:after {
        display: block;
        content: ".";
        clear: both;
        font-size: 0;
        line-height: 0;
        height: 0;
        overflow: hidden;
    }
/* ======================================================================================= */





.main {
    /*min-height:350px; margin: 0 0 30px 0; */
    margin-left: auto;
    margin-right: auto;
    width: 980px;
}



#contenedorMenuHPM {
    display: inline;
    float: left;
    margin-right: 8px;
    width: 200px;
    padding-left: 9px;
}



#menuVerticalInterior {
    border: 1px solid #CCCCCC;
    float: left;
    margin-bottom: 8px;
    min-height: 400px;
    width: 198px;
    border-radius: 2px;
    text-align: left;
}





/* page structure */
#w {
    float: left;
    height: auto;
    width: 750px;
    text-align: left;
    /*
  width: 600px;
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
*/
}

#content {
    padding: 8px 15px;
    padding-bottom: 20px;
}


.options {
    float: right;
    margin-right: 30px;
    margin-top: 10px;
}


    .options .sorticon img {
        opacity: 0.6;
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        transition: all 0.2s linear;
    }

        .options .sorticon img:hover {
            opacity: 1.0;
        }

    .options .sorticon.active img {
        opacity: 1.0;
    }




/* list styles */
#listdisplay {
    display: block;
}

    #listdisplay li {
        display: block;
        width: 100%;
        padding: 12px 8px;
        margin-bottom: 1px;
        border-bottom: 1px solid #aaa;
    }

        #listdisplay li img {
            float: left;
            padding: 5px;
            background: #fff;
            margin-right: 20px;
            display: block;
        }


.divImg1 {
    display: none;
    position: relative;
}

.clearfix:hover li :last-child {
    background: #090909;
}
/*
.clearfix:hover  .divImg1, .divImg1:hover{
display:block;

} 

/*.clearfix #imgList:hover #quickinfo4x  , #quickinfo4x:hover*/
/*.imgList:hover + .quickinfo4x
{ display:block; 


	background:#090909;
}
*/
/*

#listdisplay li .innercontent   {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}



*/






.tituloFaceta {
    color: black;
    font-size: 13px;
    text-align: left;
    font-weight: bold;
    margin-bottom: 14px;
    padding-left: 32px;
    border-bottom: 1px solid #CCCCCC;
    font-weight: bold;
    height: 38px;
    line-height: 38px;
    margin-bottom: 16px;
    padding-left: 16px;
    text-decoration: none;
}

#menuVerticalInterior ul {
    float: left;
    margin: 0 0 14px;
    padding: 0;
    width: 220px;
}

    #menuVerticalInterior ul li:hover {
        color: red;
    }

    #menuVerticalInterior ul dt {
        color: #666666;
        font-size: 11px;
        font-weight: bold;
        margin-bottom: 7px;
        padding-left: 32px;
    }

#menuVerticalInterior li {
    font-size: 11px;
    line-height: 14px;
    list-style-image: url("../imagenes/bulFlecha.gif");
    list-style-position: inside;
    margin-left: 33px;
}

#headerListas {
    border: 1px solid #CCCCCC;
    float: left;
    /*padding: 8px;*/
    width: 100%;
    border-radius: 2px;
}


#verProductos {
    float: left;
    margin-left: 30px;
    margin-top: 10px;
}








.messageTitle {
    border-bottom: 1px solid #CCCCCC;
    height: 26px;
    margin-bottom: 0;
    padding: 0;
    width: 100%;
    color: #525252;
    font-family: Tahoma,Arial,Helvetica;
    font-size: 11px;
}

.ToolBar {
    background: url("../imagenes/sprite2.gif") repeat-x scroll 0 -2300px #EAEAEA;
    color: #36428B;
    padding: 3px;
    font-family: Tahoma,Arial,Helvetica;
    font-size: 11px;
    height: 26px;
}

.ToolBarControl {
    height: 26px;
    vertical-align: middle;
}

#ContentPlaceHolder1_mnuToolbar ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    width: auto;
}

.ToolBarControl ul li {
    vertical-align: top;
    padding: 4px;
}

    .ToolBarControl ul li:hover {
        background: url("../imagenes/hovertoolbar.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
        border: 1px solid #A4A4A4;
        border-radius: 5px;
        display: inline-block;
    }

a:hover {
    color: #525252;
    text-decoration: inherit;
}








#listdisplay li:hover {
    box-shadow: 0 0 2px #CCC;
}

#listdisplay li .innercontent {
    display: block;
    text-align: center;
}

#listdisplay li .btnInline {
    width: 180px;
}


.product-itm-discount-percent {
    background: url("../imagenes/iconset.png") repeat scroll -180px 0 rgba(0, 0, 0, 0);
    color: #FFFFFF;
    display: block;
    font-size: 0.9rem;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
    position: absolute;
    right: 0;
    top: 0;
    text-shadow: 0 1px 0 #000000;
    width: 50px;
}

#listdisplay li .product-itm-discount-percent {
    background: url("../imagenes/iconset.png") repeat scroll -180px 0 rgba(0, 0, 0, 0);
    color: #FFFFFF;
    display: block;
    font-size: 0.9rem;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
    position: absolute;
    right: 0;
    top: 0;
    text-shadow: 0 1px 0 #000000;
    width: 50px;
}


.btn-verde2 {
    background-position: 75px 3px,0px -66px;
    float: left;
    font-weight: bold;
    font-size: 11px;
    height: 22px;
    padding-left: 16px;
    padding-top: 7px;
    width: 80px;
    background-image: url("../imagenes/bg-btn-basket.png"),url("../imagenes/sprite-botones.png");
    background-repeat: no-repeat;
}


.btn-verde-fin2 {
    background-position: right -66px;
    float: left;
    height: 28px;
    width: 18px;
    background-image: url("../imagenes/sprite-botones.png");
    background-repeat: no-repeat;
}


.agregarBolsa {
    float: right;
    height: 22px;
    margin-bottom: 5px;
    margin-top: 8px;
}

.btnInline {
    cursor: pointer;
    /* width: auto;*/
}

.btn-verde2 p {
    font-family: arial;
    color: #FFFFFF;
    display: block;
    height: 18px;
    margin-left: -14px;
    margin-right: -14px;
    margin-top: -4px;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 4px;
    text-align: center;
}



#listdisplay li {
    display: block;
    width: 224px;
    float: left;
    margin-right: 10px;
    margin-bottom: 7px;
    border: 0;
    margin-bottom: 1px;
    border-bottom: 1px solid #aaa;
    position: relative;
}

    #listdisplay li img {
        display: block;
        float: none;
        margin: 0 auto;
        width: 160px;
        height: 160px;
        margin-bottom: 4px;
    }


.marca {
    text-align: left;
    font-size: 13px;
    font-weight: bold;
    height: 16px;
    padding-top: 4px;
    width: 126px;
}

.detalle {
    text-align: left;
    font-size: 12px;
    height: 28px;
    margin-bottom: 4px;
    width: 126px;
}

    .detalle a {
        color: #333333;
        font-size: 11px;
        text-decoration: none;
    }


.precio1 {
    position: absolute;
    right: 12;
    top: 0;
    color: #CC0000;
    float: center;
    font-size: 17px;
    font-weight: bold;
    width: auto;
}

#listdisplay.thumbview li .btnInline {
    width: 119px;
}


#listdisplay.thumbview li {
    display: block;
    width: 123px;
    float: left;
    margin-right: 10px;
    margin-bottom: 7px;
    border: 0;
    margin-bottom: 1px;
    border-bottom: 1px solid #aaa;
}

    #listdisplay.thumbview li img {
        display: block;
        float: none;
        margin: 0 auto;
        width: 120px;
        height: 120px;
        margin-bottom: 4px;
    }

    #listdisplay.thumbview li:hover {
        box-shadow: 0 0 2px #CCC;
    }

    #listdisplay.thumbview li .product-itm-discount-percent {
        background: url("../imagenes/iconset.png") repeat scroll -180px 0 rgba(0, 0, 0, 0);
        color: #FFFFFF;
        display: block;
        font-size: 0.9rem;
        font-weight: bold;
        height: 50px;
        line-height: 50px;
        position: absolute;
        right: 0;
        top: 0;
        text-shadow: 0 1px 0 #000000;
        width: 50px;
    }


.Node {
    background: url(../imagenes/FolderClose.png) no-repeat;
}

.NodeHijo {
    background: url(../imagenes/EditOption.png) no-repeat;
}
/*#grid-gallery {
    width: 742px;

}*/

/*


#listdisplay.thumbview li .innercontent p {
  display: none;
}
*/
/* clearfix */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.ToolBarControl ul li {
    position: relative;
    width: auto;
    float: left;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

.Cursor {
    cursor: pointer;
}

#example-basic-expandable {
    width: 100%;
    font-family: arial;
    font-size: 11px;
    border: 1px solid #CCCCCC;
}

    #example-basic-expandable tr td {
        border: 1px solid #CCCCCC;
    }
    input.input-validation-error {
    border: 1px  solid #e80c4d;
    box-shadow: 0 0 2px #e80c4d;
    height:16px;
}

    

    input:focus {

        box-shadow: 0 0 2px #CCC;
    }













    
.bloque {
    border-radius: 10px;
    border: 1px solid #cccccc;
    margin-top: 5px;
    margin-bottom: 5px;
}

    .bloque h2 {
        font-size: 16px;
        color: #c00000;
        font-weight: normal;
        padding: 0;
        margin: 0;
    }

    .bloque legend {
        border: none;
        font-size: 16px;
        padding-top: 15px;
        padding-bottom: 5px;
        font-weight: normal;
        margin: 0;
    }

    .bloque fieldset {
        padding: 15px;
        font-weight: normal;
        margin: 1px 1px 1px 1px;
        padding-left: 30px;
    }

    .bloque .divCabecera {
        border: 1px solid #B90000;
        color: #FFF;
        background-color: #B90000;
        font-family: 'Arial Narrow', Arial, sans-serif;
        font-size: 18px;
        font-weight: bold;
        padding: 10px;
        border-radius: 10px 10px 0 0;
    }

.bloqueForm {
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    margin-top: 5px;
    margin-bottom: 5px;
}

    .bloqueForm h2 {
        font-size: 16px;
        color: #c00000;
        font-weight: normal;
        padding: 0;
        margin: 0;
    }

    .bloqueForm legend {
        font-size: 16px;
        padding-top: 15px;
        padding-bottom: 5px;
        font-weight: normal;
        margin: 0;
    }

    .bloqueForm fieldset {
        padding: 15px;
        font-weight: normal;
        margin: 1px 1px 1px 1px;
        padding-left: 30px;
    }

