﻿


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Nuevo</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="entidad_nombre">Entidad</label>
                    <input type="text" class="form-control" id="entidad_nombre" placeholder="Ingrese la entidad">
                </div>
                <div class="form-group">

                    <label for="entidad_cantidad_usuarios">Cantidad Usuarios</label>

                    <input type="number" class="form-control  col-xs-2" id="entidad_cantidad_usuarios" placeholder="Ingrese la cantidad Usuarios">
                </div>

                <div class="form-group">
                    <label for="entidad_dominio">Dominio</label>
                    <input type="text" class="form-control" id="entidad_dominio" placeholder="Ingrese el dominio">
                </div>
                <div class="form-group">
                    <label for="entidad_dominio">Estado</label>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="stActivo"> Activo
                        </label>
                    </div>

                </div>

                <div class="alert alert-danger" id="msgAlerta">ingrese nombre entidad</div>
            </div>
            <div class="modal-footer">
                <button type="button"  id="btnCancelar" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button"  id="btnGuardar" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="entidad_id" value="" />

<input type="hidden" id="EntityState" value="" />



<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Confirmación de eliminación</h4>
            </div>
            <div class="modal-body">
                <p>Esta seguro que desea borrar a la entidad <b><i class="title" id="lblEntidad"></i></b>.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" id="btnEliminar" class="btn btn-danger btn-ok"  data-dismiss="modal">Eliminar</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        function ValidateData(jsonData) {
            if (jsonData.entidad_nombre ==="") {
                MostrarAlerta("Ingrese el nombre de entidad");
                return false;
            }
            if (jsonData.entidad_cantidad_usuarios === "") {
                MostrarAlerta("Ingrese la cantidad de usuarios.");
                return false;
            }
            if (jsonData.entidad_dominio === "") {
                MostrarAlerta("Ingrese el dominio.");
                return false;
            }
         
            return true;
        }

        function Guardar() {
            var entidad_nombre = $("#entidad_nombre").val();
            var entidad_cantidad_usuarios = $("#entidad_cantidad_usuarios").val();
            var entidad_dominio = $("#entidad_dominio").val();
            var entidad_estado = "";
            entidad_estado =  ($("#stActivo").is(":checked")) ? "HAB" :"DES";
            var EntityState = $("#EntityState").val();
            var entidad_id = $("#entidad_id").val();
            //Add = 1 Update = 2 Delete = 3
            
            var jsonData = {
                "entidad_id": entidad_id,
                "entidad_nombre": entidad_nombre,
                "entidad_cantidad_usuarios": entidad_cantidad_usuarios,
                "entidad_dominio": entidad_dominio,
                "entidad_estado": entidad_estado
            };
            if (!ValidateData(jsonData)) return false;
            if (EntityState === "1") {
                delete jsonData["entidad_id"];
                Entidad.SaveEntidad(jsonData);
            } else if (EntityState === "2") {
                Entidad.UpdateEntidad(jsonData);
            }

        }
        $("#btnEliminar").click(function () {
            Entidad.DeleteEntidad();
        });

        $("#btnGuardar").click(function () {
            Guardar();
            
        });
      


        function ClearInputs() {
            $("#entidad_nombre").val("");
            $("#entidad_cantidad_usuarios").val("");
            $("#entidad_dominio").val("");

            $("#msgAlerta").css("display", "none");
        }

        $('#myModal').on('show.bs.modal', function (event) {
            if ($("#entidad_id").val() === "") {
                ClearInputs();
            }
        });
    });
</script>
