﻿@using UPC.APP.SOL.WEB.Core.utils
@using UPC.APP.SOL.WEB.Helpers
@model IEnumerable<UPC.APP.SOL.WEB.t_entidad>
<div class="panel-group">
    <div class="panel panel-default" style="border: 0">
        <div style="background-color: #F6F6F6; color: #666681; border: 1px solid rgb(221, 221, 221); height: 40px; padding: 5px;">
            <table style='width: 100%;'>
                <tr>
                    <td style="width: 50%;">
                        <div style="float: left; font-size: 14px; font-weight: bold; width: 100%;">Listado</div>
                    </td>
                    <td style="width: 50%; text-align: right"></td>
                </tr>
            </table>
        </div>

        <div id="collapseOne2" class="panel-collapse collapse in">
            <div class="panel-body">

                <table class="table table-bordered table-hover" id="tbl">
                    <thead style="background-color: #f5f5f5;">
                    <tr>
                        <th style="text-align: center">Editar</th>
                        <th style="text-align: center">Eliminar</th>
                        <th>Entidad </th>
                        <th>Dominio</th>
                        <th>Cantidad Usuarios Registrados </th>
                        <th>Cantidad Usuarios Permitidos </th>
                        <th>Estado</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model)
                    {
                        string idRow = "";
                        idRow = "row_" + item.entidad_id;
                        <tr id="@idRow">
                            @Html.CustomTdImage(ConstantsImages.EDITAR, "Entidad.GetEntidad("+ item.entidad_id +")")
                            @Html.CustomTdImage(ConstantsImages.ELIMINAR, "Entidad.GetDeleteEntidad("+ item.entidad_id +")")
                            
                            @Html.CustomTd(item.entidad_nombre)
                            @Html.CustomTd(item.entidad_dominio)

                            @Html.CustomTd(item.t_usuario.Count().ToString(), "text-align: center;")
                            @Html.CustomTd(item.entidad_cantidad_usuarios.ToString(), "text-align: center;")
                            @(item.entidad_estado == "HAB" ? Html.CustomTd("Activo") : Html.CustomTd("Inactivo"))

                        </tr>

                    }

                    </tbody>
                 
                </table>

            </div>
        </div>

    </div>
</div>




