﻿@{
    ViewBag.Title = "Home Page";
}
<style>
    .post-title {
        text-align: center;
    }



</style>
<h1 class="post-title entry-title">APP Solidaridad </h1>
<div style="text-align: center">

    <img src="~/Images/logo.jpg" height="365"  width="365"/>
</div>