﻿
@{
    Layout = null;
}
<style>

    
.body{
     height: 100%;
 	background-repeat: no-repeat;
    /*background-color: #f1f1f1 !important;*/
 	font-family: 'Oxygen', sans-serif;
}

.main{
 	margin-top: 70px;
}

h1.title { 
	font-size: 50px;
	font-family: 'Passion One', cursive; 
	font-weight: 400; 
}

hr{
	width: 10%;
	color: #fff;
}

.form-group{
	margin-bottom: 15px;
}

label{
	margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login{
 	background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.main-center{
 	margin-top: 30px;
 	margin: 0 auto;
 	max-width: 330px;
    padding: 40px 40px;

}

.login-button{
	margin-top: 5px;
}

.login-register{
	font-size: 11px;
	text-align: center;
}

</style>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Website Font style -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    <title>Inicio Sesion</title>
    @Styles.Render("~/Content/bootstrap")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/general.js"></script>
</head>
<body class="body">
<div class="container">
    <div class="row main">
        <div class="panel-heading">
            <div class="panel-title text-center">
                <img src="~/Images/logo.jpg" height="128" width="128" />
                <h1>AppSolidaridad</h1>
                <hr/>
            </div>
        </div>
        <div class="main-login main-center">
            <form class="form-horizontal" method="post" action="#">


                <div class="form-group">
                    <label for="usuario_correo" class="cols-sm-2 control-label">Usuario</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="username" id="usuario_correo" placeholder="Ingrese su Usuario" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="usuario_password" class="cols-sm-2 control-label">Clave</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" name="password" id="usuario_password" placeholder="Ingrese su Clave" />
                        </div>
                    </div>
                </div>

                <div class="form-group ">
                    <button type="button" id="btnIngresar" class="btn btn-primary btn-lg btn-block login-button btn-danger">Ingresar</button>
                </div>
                <div class="form-group" style="text-align: center;" >
                    <label for="username" class="cols-sm-2 control-label" style="color: red" id="lblResLogin"></label>
                    
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>

<script>
    $(function () {
        $("#btnIngresar").click(function () {
            $("#lblResLogin").html("");
            Login.IniciarSesion();
        });
    });
</script>