﻿


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Nuevo</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="categoria_objeto_nombre">Categoria</label>
                    <input type="text" class="form-control" id="categoria_objeto_nombre" placeholder="Ingrese la categoria">
                </div>
                <div class="form-group">

                    <label for="">Imagen</label>
                    
                </div>

                <div class="form-group" style="text-align: center;">

                    <img src="~/Images/Categoria/1.png" height="128" width="128" id="imgCategoria"/>
                     <p id="upload" style="color: red;">
                                <input type="file" id="fileUpload" name="Image"  />
                    </p>
                </div>

                <div class="alert alert-danger" id="msgAlerta"></div>
            </div>
            <div class="modal-footer">
                <button type="button"  id="btnCancelar" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button"  id="btnGuardar" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="categoria_objeto_id" value="" />

<input type="hidden" id="EntityState" value="" />



<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Confirmación de eliminación</h4>
            </div>
            <div class="modal-body">
                <p>Esta seguro que desea borrar a la Categoria <b><i class="title" id="lblCategoria"></i></b>.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" id="btnEliminar" class="btn btn-danger btn-ok"  data-dismiss="modal">Eliminar</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        function ValidateData(jsonData) {
            if (jsonData.categoria_objeto_nombre === "") {
                MostrarAlerta("Ingrese el nombre de categoria");
                return false;
            }
         
         
            return true;
        }

        function Guardar() {
            debugger;
            var categoria_objeto_nombre = $("#categoria_objeto_nombre").val();
           
            var EntityState = $("#EntityState").val();
            var categoria_objeto_id = $("#categoria_objeto_id").val();
            //Add = 1 Update = 2 Delete = 3
            
            var jsonData = {
                "categoria_objeto_id": categoria_objeto_id,
                "categoria_objeto_nombre": categoria_objeto_nombre
            };
            if (!ValidateData(jsonData)) return false;
            if (EntityState === "1") {
                delete jsonData["entidad_id"];
                Categoria.SaveCategoria(jsonData);
            } else if (EntityState === "2") {
                Categoria.UpdateCategoria(jsonData);
            }

        }
        $("#btnEliminar").click(function () {
            debugger;
            Categoria.DeleteCategoria();
        });

        $("#btnGuardar").click(function () {
            Guardar();
            
        });
      


        function ClearInputs() {
            $("#categoria_objeto_nombre").val("");

            $("#msgAlerta").css("display", "none");
        }

        $('#myModal').on('show.bs.modal', function (event) {
            if ($("#categoria_objeto_id").val() === "") {
                ClearInputs();
            }
        });
    });
</script>
