﻿@using UPC.APP.SOL.WEB.Core.utils
@using UPC.APP.SOL.WEB.Helpers
@model IEnumerable<UPC.APP.SOL.WEB.t_categoria_objeto>
<div class="panel-group">
    <div class="panel panel-default" style="border: 0">
        <div style="background-color: #F6F6F6; color: #666681; border: 1px solid rgb(221, 221, 221); height: 40px; padding: 5px;">
            <table style='width: 100%;'>
                <tr>
                    <td style="width: 50%;">
                        <div style="float: left; font-size: 14px; font-weight: bold; width: 100%;">Listado</div>
                    </td>
                    <td style="width: 50%; text-align: right"></td>
                </tr>
            </table>
        </div>

        <div id="collapseOne2" class="panel-collapse collapse in">
            <div class="panel-body">

                <table class="table table-bordered table-hover" id="tbl">
                    <thead style="background-color: #f5f5f5;">
                        <tr>
                            <th style="text-align: center; width: 80px">Editar</th>
                            <th style="text-align: center;width: 80px">Eliminar</th>
                            <th style="text-align: center;">Categoria </th>
                            <th style="text-align: center;"> Imagen </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            string idRow = "";
                            idRow = "row_" + item.categoria_objeto_id;
                            <tr id="@idRow">
                                @Html.CustomTdImage(ConstantsImages.EDITAR, "Categoria.GetCategoria(" + item.categoria_objeto_id + ")")
                                @Html.CustomTdImage(ConstantsImages.ELIMINAR, "Categoria.GetDeleteCategoria(" + item.categoria_objeto_id + ")")

                                @Html.CustomTd(item.categoria_objeto_nombre)

                                @Html.Raw("<td  style='text-align: center;'><img src='/Images/Categoria/"  + item.categoria_objeto_id   + ".png' width='48' height='48' > </td>")
                            </tr>

                        }

                    </tbody>

                </table>

            </div>
        </div>

    </div>
</div>
