﻿@{
    ViewBag.Title = "Categorias";
}

<div id="divFiltrosBusqueda" style="font-family: 'Arial Narrow', Arial, sans-serif;">
    <div class="bloque">
        <div class="divCabecera">
            Categorias
        </div>
        <div id="ContenedorFiltros">

            <div id="divFiltrosBusqueda2" style="font-family: 'Arial Narrow', Arial, sans-serif;">

                <div class="panel-group" id="accordion">
                    <div class="panel panel-default" id="panel1" style="border: 0">

                        <div style="background-color: #F6F6F6; color: #666681; border: 1px solid rgb(221, 221, 221); height: 40px; padding: 5px;">
                            <table style='width: 100%;'>
                                <tr>
                                    <td style="width: 50%;">
                                        <div style="float: left; font-size: 14px; font-weight: bold; width: 100%;">Filtros de busqueda</div>
                                    </td>
                                    <td style="width: 50%; text-align: right"></td>
                                </tr>
                            </table>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">


                                <div class="row form-group" style="margin: 0 ! important;">
                                    <div class="col-sm-2">
                                        <label class="control-label" for="txtCategoria">Categoria</label>
                                    </div>
                                    <div class="col-sm-4">

                                        <input type="text" class="form-control" id="txtCategoria" placeholder="Ingrese el nombre de la categoria" />
                                    </div>
                                   
                                </div>

                                <div class="row form-group" style="margin: 0 ! important;">
                                    <div class="col-sm-12" style="text-align: center">

                                        .
                                    </div>
                                </div>

                                <div class="row form-group" style="margin: 0 ! important;">
                                    <div class="col-sm-12" style="text-align: left">

                                        <button type="button" class="btn btn-danger" id="btnBuscar">Buscar</button>
                                        <button type="button" id="btnNuevo" class="btn btn-danger">Nuevo</button>
                                        <div style="display: none">
                                            <button type="button" id="btnhdNuevo" class="btn btn-danger" data-toggle="modal" data-target="#myModal">Nuevo</button>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <div id="ContenedorEnt">
            <div id="divTabla" style="font-family: 'Arial Narrow', Arial, sans-serif;">
            </div>
            <div id="_dialogResEval2">
            </div>
        </div>
    </div>

    @Html.Partial("_CategoriaMnt")








    <script>
        $(document).ready(function () {
            setTimeout(Buscar, 500);
            DeshabilitarControl("btnGenRpt", true);
            $("#btnBuscar").click(function () {
                Buscar();
            });

            $("#btnNuevo").click(function () {
                $("#EntityState").attr("value", "1");
                $("#entidad_id").val("");
                $("#btnhdNuevo").click();
            });

        });




        function Buscar() {

            var value1, value2;

            value1 = $("#txtCategoria").val();;

            var url = "/Categoria/GetCategoria?value1=" + value1;
            $("#divTabla").load(url);
        }



    </script>

