﻿@using UPC.APP.SOL.WEB.Core.utils
@using UPC.APP.SOL.WEB.Helpers
@model IEnumerable<UPC.APP.SOL.WEB.V_REPORTE>
<style>
    #tbl th {
        text-align: center;
    }
</style>
<div class="panel-group">
    <div class="panel panel-default" style="border: 0">
        <div style="background-color: #F6F6F6; color: #666681; border: 1px solid rgb(221, 221, 221); height: 40px; padding: 5px;">
            <table style='width: 100%;'>
                <tr>
                    <td style="width: 50%;">
                        <div style="float: left; font-size: 14px; font-weight: bold; width: 100%;">Listado</div>
                    </td>
                    <td style="width: 50%; text-align: right"></td>
                </tr>
            </table>
        </div>

        <div id="collapseOne2" class="panel-collapse collapse in">
            <div class="panel-body">

                <table class="table table-bordered table-hover" id="tbl">
                    <thead style="background-color: #f5f5f5;">
                    <tr>
                        @*--Entidad,Fecha,CategoriaObjeto,Estado,NombreUsuarioRegistro,NombreUsuarioPropietario*@
                        <th>Entidad </th>
                        <th>Fecha Reporte</th>
                        <th>Categoria</th>
                        <th>Estado</th>
                        <th>Nombre Usuario Reporte</th>
                        <th>Correo Usuario</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model)
                    {
                        string idRow = "";
                        idRow = "row_" + item.entidad_id;
                        <tr id="@idRow">
                            
                            @Html.CustomTd(item.entidad_nombre, "text-align: left;")
                            @Html.CustomTd(item.Fecha, "text-align: center;")
                            @Html.CustomTd(item.categoria_objeto_nombre, "text-align: left;")
                            @Html.CustomTd(item.Estado, "text-align: center;")
                            @Html.CustomTd(item.UsuarioRegistro, "text-align: left;")
                            @Html.CustomTd(item.UsuarioCorreo, "text-align: left;")
                            

                        </tr>

                    }

                    </tbody>
                 
                </table>

            </div>
        </div>

    </div>
</div>




