﻿@{
    ViewBag.Title = "Reporte";
}

<div id="divFiltrosBusqueda" style="font-family: 'Arial Narrow', Arial, sans-serif;">
    <div class="bloque">
        <div class="divCabecera">
            Reporte de Perdidas
        </div>
        <div id="ContenedorFiltros">

            <div  style="font-family: 'Arial Narrow', Arial, sans-serif;">

                <div class="panel-group" id="accordion">
                    <div class="panel panel-default" id="panel1" style="border: 0">

                        <div style="background-color: #F6F6F6; color: #666681; border: 1px solid rgb(221, 221, 221); height: 40px; padding: 5px;">
                            <table style='width: 100%;'>
                                <tr>
                                    <td style="width: 50%;">
                                        <div style="float: left; font-size: 14px; font-weight: bold; width: 100%;">Filtros de busqueda</div>
                                    </td>
                                    <td style="width: 50%; text-align: right"></td>
                                </tr>
                            </table>
                        </div>
                        <div class="panel-collapse collapse in">
                            <div class="panel-body">


                                <div class="row form-group" style="margin: 0 ! important;">
                                    <div class="col-sm-2">
                                        <label class="control-label" for="txtEntidad">Entidad</label>
                                    </div>
                                    <div class="col-sm-4">
                                        @Html.DropDownList("ddlEntidad", (SelectList) ViewBag.Entidades, "--Todos--", new {@class = "form-control"})
                                    </div>
                                    <div class="col-sm-2">
                                        <label class="control-label" for="ddlEstado">Estado</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <div>
                                            @Html.DropDownList("ddlEstado", (SelectList) ViewBag.Estado, "--Todos--", new {@class = "form-control"})
                                        </div>
                                    </div>
                                </div>
                                   <div class="row form-group" style="margin: 0 ! important;">
                                    <div class="col-sm-12" style="text-align: center">

                                        .
                                    </div>
                                </div>

                                  <div class="row form-group" style="margin: 0 ! important;">
                                    <div class="col-sm-2">
                                        <label class="control-label" for="txtEntidad">Categoria</label>
                                    </div>
                                    <div class="col-sm-4">
                                        @Html.DropDownList("ddlCategoria", (SelectList)ViewBag.Categoria, "--Seleccionar--", new { @class = "form-control" })
                                    </div>
                                 
                                   
                                </div>

                                <div class="row form-group" style="margin: 0 ! important;">
                                    <div class="col-sm-12" style="text-align: center">

                                        .
                                    </div>
                                </div>

                                <div class="row form-group" style="margin: 0 ! important;">
                                    <div class="col-sm-12" style="text-align: left">

                                        <button type="button" class="btn btn-danger" id="btnBuscar">Buscar</button>
                                        <button type="button" id="btnNuevo" class="btn btn-danger" >Nuevo</button>
                                        <div style="display: none">
                                        <button type="button" id="btnhdNuevo" class="btn btn-danger" data-toggle="modal" data-target="#myModal">Nuevo</button>
                                            
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <div id="ContenedorEnt">
            <div id="divTabla" style="font-family: 'Arial Narrow', Arial, sans-serif;">
            </div>
            <div id="_dialogResEval2">
            </div>
        </div>
    </div>



 


    <script>
        $(document).ready(function () {
            setTimeout(Buscar, 500);
            $("#btnBuscar").click(function () {
                Buscar();
            });

            

        });


       

        function Buscar() {
            
            var value1, value2, value3;
            
            value1 = $("#ddlEntidad").val();;
            value3 = $("#ddlEstado").val();;
            value2 = $("#ddlCategoria").val();;

            var url = "/Reporte/GetReporte?value1=" + value1 + "&value2=" + value2 + "&value3=" + value3;
            $("#divTabla").load(url);
        }



    </script>

